  /* Reset para REM */
html{
	font-size: 62.5%; /* Reset para REM */
	/* 62.5 = 10px de 16px */
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

/*Estilos generales */
*{
	margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

body{
	font-size: 1.6rem;
	line-height: 2;
    font-family: 'Lato', sans-serif;
}

 /* Globales */
 .contenedor{
 	width: 95%;
 	max-width:120rem;/* Altura Maxima, toma todo el espacio disponible pero no te pases de 
 	1200px */
 	margin: 0 auto 0 auto;/*Para centrarlo */
}

img{
	max-width: 100%;/*Para que todas las imagenes sean responsive */
}

h1{
 	font-size: 3.8rem;
}

h2{
	font-size: 3.4rem;
}

h3{
	font-size: 3rem;
}

h4{
	font-size: 2.6rem;
}

.fondo-blanco{
    background-color: white;
}
.ancho-24{
    max-width: 24.5%;
}

/** Header **/
@media screen and (min-width:768px){
   .sitio-header.inicio::after{
        content:'';
        display: block;
        position: absolute;
        top:0;
        height: 100%;
        width: 100%;
        background: -moz-linear-gradient(-45deg, rgba(169,3,41,0.7) 0%, rgba(0,0,0,0.7) 51%, rgba(107,107,107,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(169,3,41,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(107,107,107,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(169,3,41,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(107,107,107,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3a90329', endColorstr='#b36b6b6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}

.sitio-header.inicio{
    background-image: url(../img/2.jpg);
    background-position: center center;
    background-size:cover;
    height: 100vh;
    min-height: 600;
}
.cabezera{
    background-color: #480358;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    height: 17rem;
    
}
@media screen and (min-width:768px){
    .cabezera{
        background-color: unset;
        flex-direction: row;
        height: 8rem;
        z-index: 100;
    }
}
.cabezera h1 a{
    color: white;
}
.navegacion{
    padding-bottom:10rem;
}
.navegacion a{
    color:white;
    font-size: 20px;
    margin-right: 20px;
}
.navegacion a:last-of-type{
    margin:0;
}
.navegacion a:hover{
    background-color:#f53756;
    padding:.5rem;
    border-radius: 1rem;
}
.separacion a span{
    font-weight: 700;
    color:#f53756;
}
@media screen and (min-width:768px){
    .separacion{
        padding-left:10rem;
        padding-bottom: 2rem;
    }
    .navegacion{
        padding-right: 10rem;
        padding-bottom: 2rem;
        padding-top:0;
    }
}
.inicio{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inicio h1.contenedor{
    font-size: 7rem;
    color:white;
    padding-bottom:1rem;
    padding-left: 1rem;
    
}
@media screen and (min-width:768px){
    .inicio h1.contenedor{
        padding-bottom: 25rem;
        padding-left: 30rem;
        z-index:100;
        -webkit-box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);
        -moz-box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);
        box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);
    }
}
.inicio h1.contenedor span{
    color:#f53756;
    font-weight: 700;
    padding: 1rem;
    margin-left: .9rem;
}
/** Seccion del hotel de garantiza ***/
.seccion{
    text-align:center;
    margin: 0 auto;
    margin-top: 2rem;/* bajamelo 20px*/
    margin-bottom: 1.5rem;
}
.seccion h2{
    text-transform: uppercase;
    color: #f53756;
    font-weight: 700;
}
@media screen and (min-width:768px){
    .seccion-flex{
        display: flex;
        justify-content: space-between;
    }
    .iconos{
        flex-basis:calc(33.3% - 1rem);/* para dividir el espacio entre 3*/
    }
}
.iconos{
    margin-top: 1rem;
    background-color: #e5e5e5;
    padding: 1.5rem 0;
    border-radius: 2rem;
}
.iconos h3{
    text-transform: uppercase;
    font-size:2rem;
}
.iconos i{
    font-size: 5rem;
    color:#f53756;
}
/** Seccion cumple tus sueños */
.cumple-sueños{
    background-image: url(../img/5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:25rem;
    margin-top: 4rem;/* bajamelo 50px*/
    display:flex;
    align-items: center;
}

.contenido-sueños{
    flex:1;
}
.contenido-sueños h3,
.contenido-sueños p{
    color:white;
    padding:0 1rem;
}
.contenido-sueños h3 span{
    font-weight: 700;
    color: #f53756;
}
.contenido-sueños p{
    font-size: 1.8rem;
}